language: python
python:
  - '2.7'
  - '3.4'
  - '3.5'
  - '3.6'

install:
  - pip install -r requirements.txt

before_script:
  - chmod -w tests/downloads/no_write_access

script:
  - python -m unittest discover tests
